{% extends 'base.html' %} {% load static %} {% load humanize %} {% block content %}
<header>
    <!--Header dan Highlight Utama-->
    <nav class="navbar">
        <!-- ... (Sesuaikan dengan header yang sesuai) ... -->
    </nav>
    <div style="padding-top: 40px; background-color: #003354;">
        <div class="page-content">
            <center>
                <div class="container">
                    <div class="cover bg-white" style="border-radius: 10px; width: 105%; background-color: #DCF0FF; border-radius: 17px;">
                        <div class="cover-bg p-3 p-lg-4 text-white" style="background-color: #DCF0FF; border-radius: 17px;">
                            <br>
                            <h1 style="color: #003354;">Update Data Karang</h1>
                            <hr color="blue" style="width: 28%; align-content: center;" size="10%">
                            <br>
                            <form action="{% url 'karang_edit' karang.id %}" method="post" enctype="multipart/form-data" style="font-family: 'Poppins';">
                                {% csrf_token %} {{ form.as_p}}
                                <center><br><input type="submit" value="Simpan" class="btn btn-primary"><button style="margin-left: 10px;" class="btn btn-warning">Kembali</button></center>

                                <br>
                            </form>
                        </div>
                    </div>
                </div>
            </center>
        </div>
    </div>
</header>
{% endblock content %}