<footer id="footer" class="footer">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <p><span>MATA KARANG<br> SISTEM INFORMASI KELAUTAN</span></p>
          </a>
  
          <!-- MAP -->
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3967.037042268497!2d106.14408827377864!3d-6.125717660061479!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e418adaa4f7f563%3A0x950ec58123df8596!2sUniversitas%20Pendidikan%20Indonesia%20(UPI)%20Kampus%20Serang!5e0!3m2!1sen!2sid!4v1703580741097!5m2!1sen!2sid"
            width="300" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
            tabindex="0">
          </iframe>
          <!-- END MAP -->
  
          <div class="social-links d-flex mt-6" style="color: antiquewhite;">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
  
        <div class="col-lg-2 col-6 footer-links">
          <h4>Tentang Kami</h4>
          <ul>
            <li><a href="#">Beranda</a></li>
            <li><a href="#">Tentang</a></li>
            <li><a href="#">Input Data</a></li>
            <li><a href="#">Informasi</a></li>
            <li><a href="#">Analisis Data</a></li>
            <li><a href="#">Kontak</a></li>
          </ul>
        </div>
  
        <!-- ======= Contact Section ======= -->
  
        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Kontak Kami</h4>
          <p>
            Universitas Pendidikan Indonesia<br>
            Kampus Serang, Kota Serang<br>
            Banten 42191 <br><br>
            <strong>Telpon:</strong> 0853 1475 9003<br>
            <strong>Email:</strong> matakarangp@gmail.com<br>
          </p>
        </div>
  
        <div class="col-lg-3 col-1 footer-links">
          <h4>Hubungi Kami</h4>
          <div id="contact" class="contact">
            <div class="col-lg-15">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Nama Anda" required>
                  </div>
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Email Anda" required>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="Subjek" placeholder="Subject" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="1" placeholder="Pesan" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Memuat</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Pesan anda telah terkirim. Terima Kasih!</div>
                </div>
                <div class="text-center"><button type="submit"><b>Kirim Pesan</b></button></div>
              </form>
            </div><!-- End Contact Form -->
          </div>
        </div>
        <!-- End Contact Section -->
  
      </div>
    </div>
  
    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>MATA KARANG SIK UPI</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="ARMZ">Sistem Informasi Kelautan</a>
      </div>
    </div>
</footer>